body {
  font-family: "Reenie Beanie", cursive;
  background-color: #fafafa;
  color: #222;
  text-align: center;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #ff6f61;
  font-family: "Reenie Beanie";
  font-weight: 400;
  font-style: normal;
}
