   /* Project section styles */
  .project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 70%;
    border: 3px dotted red; /* Solid red border */
    padding: 1rem;
  }

  .about{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1rem;
  }

  .gallery-item {
    width: calc(25% - 20px);
    margin: 5px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .gallery-item {
      width: calc(50% - 20px);
    }
  }
  
  @media only screen and (max-width: 480px) {
    .gallery-item {
      width: calc(100% - 20px);
    }
  }