   /* Project section styles */
  .project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: 70%;
    max-width: 800px; /* Limit the maximum width */
    border: 3px dotted red; /* Solid red border */
    padding: 1rem;
  }

  .about{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
  }
  
  .project-heading {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .project-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    color: #555;
  }
  
  /* Carousel container */
  .gallery {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  /* Carousel track */
  .photo-container {
    margin: 5px;
    width: calc(25% - 20px);
  }
  
  /* Carousel images */
  .photo-container img {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  
  /* Carousel buttons */
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    padding: 0.5rem;
  }
  
  .prev-button {
    left: 1rem;
  }
  
  .next-button {
    right: 1rem;
  }